absl-py==0.13.0
alabaster==0.7.12
ale-py==0.7.4
amplpy==0.8.0
appdirs==1.4.3
applaunchservices==0.3.0
appnope==0.1.2
argon2-cffi==20.1.0
arrow==1.1.1
astor==0.8.1
astroid==2.12.13
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.6.0
AutoROM==0.4.2
AutoROM.accept-rom-license==0.4.2
Babel==2.9.1
backcall==0.2.0
backports.cached-property==1.0.2
binaryornot==0.4.4
black==22.8.0
bleach==3.3.0
Box2D==2.3.10
Box2D-kengz==2.3.3
cached-property==1.5.2
cachetools==4.2.2
callbacks==0.3.0
certifi==2020.4.5.1
cffi==1.14.4
chardet==4.0.0
charset-normalizer==2.0.3
clang==5.0
click==8.0.1
click-default-group==1.2.2
cloudpickle==1.6.0
cloup==0.13.1
coloredlogs==15.0.1
colour==0.1.5
commonmark==0.9.1
cookiecutter==1.7.3
cycler==0.10.0
Cython==0.29.24
deap==1.3.1
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.6.0
diff-match-patch==20200713
dill==0.3.6
distlib==0.3.0
docstring-to-markdown==0.11
docutils==0.17.1
dowhy==0.6
entrypoints==0.3
ffmpeg-python==0.2.0
filelock==3.0.12
flake8==5.0.4
flatbuffers==1.12
future==0.18.2
gast==0.2.2
glcontext==2.3.6
glfw==2.2.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.17
grpcio==1.40.0
gym==0.21.0
h5py==3.1.0
humanfriendly==9.2
idna==3.2
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==4.2.0
importlib-resources==5.2.2
inflection==0.5.1
install==1.3.4
intervaltree==3.1.0
ipykernel==6.16.2
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==5.6.4
isosurfaces==0.1.0
jedi==0.17.2
jellyfish==0.9.0
Jinja2==2.11.3
jinja2-time==0.2.0
joblib==1.0.1
jsonschema==3.2.0
jupyter-console==6.2.0
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kaleido==0.2.1
keras==2.6.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==23.0.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lightgbm==3.3.0
line-profiler==3.3.0
llvmlite==0.37.0
lockfile==0.12.2
manim==0.16.0.post0
ManimPango==0.4.1
mapbox-earcut==0.12.11
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.3
matplotlib-inline==0.1.6
mccabe==0.7.0
mip==1.13.0
mistune==0.8.4
moderngl==5.6.4
moderngl-window==2.4.2
mpmath==1.2.1
multipledispatch==0.6.0
mypy-extensions==0.4.3
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.6
networkx==2.6.3
notebook==6.2.0
numba==0.54.1
numpy==1.19.5
numpydoc==1.1.0
oauthlib==3.1.1
opencv-python==4.5.3.56
opt-einsum==3.3.0
packaging==22.0
pandas==1.3.5
pandocfilters==1.4.3
parso==0.7.0
pathspec==0.9.0
patsy==0.5.2
pbr==5.4.5
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pip-autoremove==0.10.0
pipenv==2018.11.26
platformdirs==2.5.2
plotly==5.13.1
pluggy==1.0.0
pooch==1.6.0
poyo==0.5.0
prometheus-client==0.9.0
prompt-toolkit==3.0.14
protobuf==3.19.4
psutil==5.8.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.21.0
pycodestyle==2.9.1
pycparser==2.20
pydocstyle==6.1.1
pyDOE==0.3.8
pydot==1.4.2
pydub==0.25.1
pyflakes==2.5.0
pyglet==2.0b1
Pygments==2.13.0
pylint==2.15.9
pylint-venv==2.3.0
pyls-black==0.4.7
pyls-spyder==0.4.0
pyobjc==7.3
pyobjc-core==7.3
pyobjc-framework-Accessibility==7.3
pyobjc-framework-Accounts==7.3
pyobjc-framework-AddressBook==7.3
pyobjc-framework-AdServices==7.3
pyobjc-framework-AdSupport==7.3
pyobjc-framework-AppleScriptKit==7.3
pyobjc-framework-AppleScriptObjC==7.3
pyobjc-framework-ApplicationServices==7.3
pyobjc-framework-AppTrackingTransparency==7.3
pyobjc-framework-AuthenticationServices==7.3
pyobjc-framework-AutomaticAssessmentConfiguration==7.3
pyobjc-framework-Automator==7.3
pyobjc-framework-AVFoundation==7.3
pyobjc-framework-AVKit==7.3
pyobjc-framework-BusinessChat==7.3
pyobjc-framework-CalendarStore==7.3
pyobjc-framework-CallKit==7.3
pyobjc-framework-CFNetwork==7.3
pyobjc-framework-ClassKit==7.3
pyobjc-framework-CloudKit==7.3
pyobjc-framework-Cocoa==7.3
pyobjc-framework-Collaboration==7.3
pyobjc-framework-ColorSync==7.3
pyobjc-framework-Contacts==7.3
pyobjc-framework-ContactsUI==7.3
pyobjc-framework-CoreAudio==7.3
pyobjc-framework-CoreAudioKit==7.3
pyobjc-framework-CoreBluetooth==7.3
pyobjc-framework-CoreData==7.3
pyobjc-framework-CoreHaptics==7.3
pyobjc-framework-CoreLocation==7.3
pyobjc-framework-CoreMedia==7.3
pyobjc-framework-CoreMediaIO==7.3
pyobjc-framework-CoreMIDI==7.3
pyobjc-framework-CoreML==7.3
pyobjc-framework-CoreMotion==7.3
pyobjc-framework-CoreServices==7.3
pyobjc-framework-CoreSpotlight==7.3
pyobjc-framework-CoreText==7.3
pyobjc-framework-CoreWLAN==7.3
pyobjc-framework-CryptoTokenKit==7.3
pyobjc-framework-DeviceCheck==7.3
pyobjc-framework-DictionaryServices==7.3
pyobjc-framework-DiscRecording==7.3
pyobjc-framework-DiscRecordingUI==7.3
pyobjc-framework-DiskArbitration==7.3
pyobjc-framework-DVDPlayback==7.3
pyobjc-framework-EventKit==7.3
pyobjc-framework-ExceptionHandling==7.3
pyobjc-framework-ExecutionPolicy==7.3
pyobjc-framework-ExternalAccessory==7.3
pyobjc-framework-FileProvider==7.3
pyobjc-framework-FileProviderUI==7.3
pyobjc-framework-FinderSync==7.3
pyobjc-framework-FSEvents==7.3
pyobjc-framework-GameCenter==7.3
pyobjc-framework-GameController==7.3
pyobjc-framework-GameKit==7.3
pyobjc-framework-GameplayKit==7.3
pyobjc-framework-ImageCaptureCore==7.3
pyobjc-framework-IMServicePlugIn==7.3
pyobjc-framework-InputMethodKit==7.3
pyobjc-framework-InstallerPlugins==7.3
pyobjc-framework-InstantMessage==7.3
pyobjc-framework-Intents==7.3
pyobjc-framework-IOSurface==7.3
pyobjc-framework-iTunesLibrary==7.3
pyobjc-framework-KernelManagement==7.3
pyobjc-framework-LatentSemanticMapping==7.3
pyobjc-framework-LaunchServices==7.3
pyobjc-framework-libdispatch==7.3
pyobjc-framework-LinkPresentation==7.3
pyobjc-framework-LocalAuthentication==7.3
pyobjc-framework-MapKit==7.3
pyobjc-framework-MediaAccessibility==7.3
pyobjc-framework-MediaLibrary==7.3
pyobjc-framework-MediaPlayer==7.3
pyobjc-framework-MediaToolbox==7.3
pyobjc-framework-Metal==7.3
pyobjc-framework-MetalKit==7.3
pyobjc-framework-MetalPerformanceShaders==7.3
pyobjc-framework-MetalPerformanceShadersGraph==7.3
pyobjc-framework-MLCompute==7.3
pyobjc-framework-ModelIO==7.3
pyobjc-framework-MultipeerConnectivity==7.3
pyobjc-framework-NaturalLanguage==7.3
pyobjc-framework-NetFS==7.3
pyobjc-framework-Network==7.3
pyobjc-framework-NetworkExtension==7.3
pyobjc-framework-NotificationCenter==7.3
pyobjc-framework-OpenDirectory==7.3
pyobjc-framework-OSAKit==7.3
pyobjc-framework-OSLog==7.3
pyobjc-framework-PassKit==7.3
pyobjc-framework-PencilKit==7.3
pyobjc-framework-Photos==7.3
pyobjc-framework-PhotosUI==7.3
pyobjc-framework-PreferencePanes==7.3
pyobjc-framework-PushKit==7.3
pyobjc-framework-Quartz==7.3
pyobjc-framework-QuickLookThumbnailing==7.3
pyobjc-framework-ReplayKit==7.3
pyobjc-framework-SafariServices==7.3
pyobjc-framework-SceneKit==7.3
pyobjc-framework-ScreenSaver==7.3
pyobjc-framework-ScreenTime==7.3
pyobjc-framework-ScriptingBridge==7.3
pyobjc-framework-SearchKit==7.3
pyobjc-framework-Security==7.3
pyobjc-framework-SecurityFoundation==7.3
pyobjc-framework-SecurityInterface==7.3
pyobjc-framework-ServiceManagement==7.3
pyobjc-framework-Social==7.3
pyobjc-framework-SoundAnalysis==7.3
pyobjc-framework-Speech==7.3
pyobjc-framework-SpriteKit==7.3
pyobjc-framework-StoreKit==7.3
pyobjc-framework-SyncServices==7.3
pyobjc-framework-SystemConfiguration==7.3
pyobjc-framework-SystemExtensions==7.3
pyobjc-framework-UniformTypeIdentifiers==7.3
pyobjc-framework-UserNotifications==7.3
pyobjc-framework-UserNotificationsUI==7.3
pyobjc-framework-VideoSubscriberAccount==7.3
pyobjc-framework-VideoToolbox==7.3
pyobjc-framework-Virtualization==7.3
pyobjc-framework-Vision==7.3
pyobjc-framework-WebKit==7.3
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==12.9.0
PyQtWebEngine==5.12.1
pyrr==0.10.3
pyrsistent==0.17.3
python-dateutil==2.8.2
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-lsp-black==1.2.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.0
python-slugify==5.0.2
pytoolconfig==1.2.4
pytz==2020.1
PyYAML==6.0
pyzmq==24.0.1
QDarkStyle==3.0.2
qstylizer==0.2.2
QtAwesome==1.2.2
qtconsole==5.4.0
QtPy==2.2.0
regex==2021.7.6
requests==2.26.0
requests-oauthlib==1.3.0
rheia==0.0.10
rich==12.6.0
rope==1.6.0
rsa==4.7.2
Rtree==0.9.7
scikit-learn==1.0
scipy==1.7.3
screeninfo==0.8.1
seaborn==0.12.0
Send2Trash==1.5.0
shap==0.39.0
six==1.15.0
skia-pathops==0.7.2
sklearn==0.0
slicer==0.0.7
snowballstemmer==2.1.0
SobolSequence==0.2.1
sortedcontainers==2.4.0
sparse==0.13.0
Sphinx==4.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spyder-kernels==2.4.1
spyder-terminal==1.0.0
srt==3.5.2
stable-baselines==2.10.2
stable-baselines3==1.6.0
statsmodels==0.13.0
stevedore==1.32.0
sympy==1.9
tenacity==8.0.1
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
terminado==0.10.1
testpath==0.4.4
text-unidecode==1.3
textdistance==4.2.1
threadpoolctl==2.2.0
three-merge==0.1.1
tinycss2==1.1.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
torch==1.12.1
tornado==6.2
tqdm==4.62.3
traitlets==5.4.0
typed-ast==1.4.3
typing_extensions==4.4.0
ujson==4.0.2
urllib3==1.26.6
virtualenv==20.0.20
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
watchdog==2.1.9
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
whatthepatch==1.0.2
widgetsnbextension==3.5.1
wrapt==1.12.1
wurlitzer==2.1.0
xarray==0.20.2
yapf==0.31.0
zipp==3.1.0
